@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

html {
	font-family: "Secular One", sans-serif;
	background-color: black;
	color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
